body {
  font-family: 'avenir';
  font-size: 16px;
  background-color: #f2f3f4;
}

.card {
  background-color: #f2f3f4;
}
/*
.link {
  background-color: #f2f3f4;
} */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

form div {
  margin: 1em;
  display: inline-block;
}

.column-text {
  color: #530a85;
}

.logo {
  font-family: 'Lobster', cursive;
  /* font-size: 40px; */
}

.btn-shadow {
  border: 1px solid #530a85;
}

/* .topnav {
  background-color: #fff;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 70px;
} */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 180px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 70px; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  /*padding-right: 20px;*/
}

/* .main {
  margin-left: 180px;
  margin-top: 30px;
  padding: 50px 10px;
}
*/

/* top right bottom left */

/* .card {
  width: 500px;
} */

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 14px;
}
